{% extends "base.html.twig" %}
{% block title %}Albums photos{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('build/albumphotos_index.css') }}">
    <div class="title-photos container text-center">
        <h1>- Albums photos -</h1>
        <p>Quelques albums...</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card-deck m-5">
                    {% for albumPhoto in albumPhotos %}
                            <div class="card">
                                <a href="{{ path("albumPhoto.show", {id: albumPhoto.id, slug: albumPhoto.slug}) }}"><img class="card-img-top w-100" src="{{ vich_uploader_asset(albumPhoto, 'imageFile') }}" alt="Card image cap"></a>
                {#                <img class="img-thumbnail" src="{{ vich_uploader_asset(albumPhoto, 'imageFile') }}">#}

                                <div class="card-body">
                {#                    <p class="card-title"><a href="{{ path("photo.show", {id: photo.id, slug: photo.slug}) }}">{{ photo.nom}}</a></p>#}
                                    <h3><a href="#">{{ albumPhoto.nom}}</a></h3>
                                    <p>{{ albumPhoto.description }}</p>
                                    <p>Nombre de photos dans l'album:  {{ albumPhoto.photo.count }}</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Posté le {{ albumPhoto.createdAt|date('d-m-Y') }}</small>
                                </div>
                            </div>
                    {% endfor %}
                {#        {% for photo in albumPhoto.photos %}#}
                {#            <img class="img-thumbnail" src="{{ vich_uploader_asset(albumPhoto, 'imageFile') }}" style="width: 150px;height: 103px">#}
                {#            {{ photo.imageFile }}#}
                {#            {{ vich_uploader_asset(albumPhoto, 'imageFile') }}{{ dump(album_photo.photo.imageFile) }}#}
                {#        {% endfor %}#}
                </div>
            </div>
        </div>
    </div>
<div class="form-widget">
    {% for albumPhoto in albumPhotos %}
{#        <a href="#">{{ photo.id}}</a>#}
        <img src="/uploads/images/photos{{ albumPhoto.imageFile }}">

    {% endfor %}
</div>

{%  endblock %}

