{% extends "base.html.twig" %}
{% block title %}ALbums Photos{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('build/albumphotos_show.css') }}">
    <div class="container text-center mt-5">
        <div class="title-photo row-12 mb-5">
            <h1>- {{ albumPhoto.nom }} -</h1>
        </div>
        <div class="row m-5 d-flex justify-content-between">
            <div class="img-thumbnail w-25 row-12 text-center">
                <div class=col-12">
                    <img class="img-fluid photo w-100" src="{{ vich_uploader_asset(albumPhoto, 'imageFile') }}">
                    <p>Nombre de photos dans l'album: {{ albumPhoto.photo.count }}</p>
                </div>
            </div>
            <div class="description ml-5 p-5" style="color: #b9d9eb; font-weight: bold ;border: 2px solid whitesmoke; border-radius: 15px">
                <p>{{ albumPhoto.description | safe}}</p>
            </div>
        </div>

{#        <div class="container">#}
{#            <div class="row m-5">#}
{#                <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">#}
{#                    <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid rounded">#}
{#                </a>#}
{#                <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">#}
{#                    <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid rounded">#}
{#                </a>#}
{#                <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">#}
{#                    <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded">#}
{#                </a>#}
{#            </div>#}
{#            <div class="row m-5">#}
{#                <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">#}
{#                    <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid rounded">#}
{#                </a>#}
{#                <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">#}
{#                    <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid rounded">#}
{#                </a>#}
{#                <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">#}
{#                    <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid rounded">#}
{#                </a>#}
{#            </div>#}

{#        </div>#}
        <div class="container">

            <div class="gallery">

                <div class="gallery-item">
                    <img class="gallery-image" src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?w=500&h=500&fit=crop" alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer">
                </div>

                <div class="gallery-item">
                    <img class="gallery-image" src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="sunset behind San Francisco city skyline">
                </div>

                <div class="gallery-item">
                    <img class="gallery-image" src="https://images.unsplash.com/photo-1506045412240-22980140a405?w=500&h=500&fit=crop" alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan">
                </div>

                <div class="gallery-item">
                    <img class="gallery-image" src="https://images.unsplash.com/photo-1514041181368-bca62cceffcd?w=500&h=500&fit=crop" alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night">
                </div>

                <div class="gallery-item">
                    <img class="gallery-image" src="https://images.unsplash.com/photo-1445810694374-0a94739e4a03?w=500&h=500&fit=crop" alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA">
                </div>

                <div class="gallery-item">
                    <img class="gallery-image" src="https://images.unsplash.com/photo-1486334803289-1623f249dd1e?w=500&h=500&fit=crop" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
                </div>
                {% for photo in albumPhoto.photo %}
                <div class="gallery-item">
                    <a href="{{ path("photo.show", {id: photo.id, slug: photo.slug}) }}"><img class="gallery-image" src="{{ vich_uploader_asset(photo, 'imageFile') }}" alt="{{ photo.nom }}"></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{%  endblock %}