{% extends "base.html.twig" %}
{% block title %}Aquarelles{% endblock %}
{% block body %}

    <div class="container text-center mt-5">
        <h1>Aquarelles</h1>
        <p>Quelques aquarelles...</p>
    </div>
    <div class="card-deck m-5">
        {% for aquarelle in aquarelles %}
            <div class="card">
                <a href="{{ path("aquarelle.show", {id: aquarelle.id, slug: aquarelle.slug}) }}"><img class="card-img-top w-100" src="{{ vich_uploader_asset(aquarelle, 'imageFile') }}" alt="Card image cap"></a>
                <div class="card-body">
                    <p class="card-title"><a href="{{ path("aquarelle.show", {id: aquarelle.id, slug: aquarelle.slug}) }}">{{ aquarelle.nom}}</a></p>
                    <p>{{ aquarelle.vendue }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Posté le {{ aquarelle.createdAt|date('d-m-Y') }}</small>
                </div>
            </div>

        {% endfor %}
    </div>



{%  endblock %}