{% extends "base.html.twig" %}
{% block title %}Aquarelles{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('build/aquarelles_show.css') }}">
    <link rel="stylesheet" href="{{ asset('build/modal.css') }}">
    <div class="container text-center ">

{#        boucle pour message de mail =>'message' se trouve dans AquarelleController#}
        {% for message in app.flashes('message') %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}

        <div class="row-12 mb-5">
            <h1>- {{ aquarelle.nom }} -</h1>
        </div>
        <div class="row-12">
            <div class="aquarelle col-12 mb-3">
                <a href="{{ vich_uploader_asset(aquarelle, 'imageFile') }}">
                <img class="img-fluid aquarelle w-100" src="{{ vich_uploader_asset(aquarelle, 'imageFile') }}" alt=""></a>
                {% if aquarelle.vendue == '1' %}
                    <p><strong><u>Aquarelle vendue</u></strong></p>

                    {% else %}
{#                    </div>#}
                    <!-- Button trigger modal -->
                    <div class="bouton_info_contact d-flex justify-content-center mt-4">
                        <a href="#" data-tooltip="{{ aquarelle.prix }} €" data-placement="top">
                            <button type="button" class="btn_info btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            <i class="fas fa-euro-sign" style="color:white"></i>
                            </button>
                        </a>
                        <button type="button" class="btn_contact btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            <i class="fas fa-envelope-open-text"></i>
                            Contact
                        </button>
                    </div>
                {% endif %}

            </div>
{#            <a href="{{ vich_uploader_asset(aquarelle, 'imageFile') }}" ><h1>test</h1></a>#}
        </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                {{ form_start(form) }}
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Contacter l'artiste</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ form_widget(form.title) }}
                            {{ form_row(form.nom) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.message) }}
                        </div>
                        <div class="modal-footer">
                            <button data-target=modale-contact" class = "btn_contact small secondary modal-trigger">Envoyer</button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <!--modale lightbox-->
            <div id="modale" class="modallb">
                <span class="closelb">&times;</span>
                <div class="modallb-content">
{#                <img src="public/uploads/images/aquarelles/f104-lucio-5fe6303a179e3671581936.jpg" alt="">#}
                    <div class="test">
                    <img src="{{ vich_uploader_asset(aquarelle, 'imageFile') }}" alt=""></div>
                </div>
            </div>


    </div>

{%  endblock %}
{% block javascripts %}
<script>

    window.onload =()=> {
        document.querySelector("#contact_artiste_title").value = "Message concernant l'aquarelle {{ aquarelle.nom|raw }}"
    }

    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
    <script>// modale de lightbox
        window.onload = () => {
            const modale = document.querySelector("#modale");
            const close = document.querySelector(".closelb");
            const links = document.querySelectorAll(".container .aquarelle img");
            console.log(links);

            //on ajoute l'écouteur click sur les liens e=evenement
            for(let link of links){
                link.addEventListener("click", function(e){
                    //on desactive le comportement des liens
                    e.preventDefault();
                    // on ajoute l image du lien cliqué dans la modale
                    const image = modale.querySelector(".modallb-content .test");
                    image.src = this.href;
                    //on affiche la modale
                    modale.classList.add("show");
                });
            }
            //on active le bouton close
            close.addEventListener("click", function(){
                modale.classList.remove("show");
            });
            //on ferme au clic sur la modale
            modale.addEventListener("click", function(){
                modale.classList.remove("show");
            });
        }
    </script>
{% endblock %}