{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% macro render_menu_item(item) %}  
    {% set idsCrud = { 'Dashboard' : '','Administateurs' : '46adcdd','Aquarelles' : 'eca5f89', 'Actualités' : '4d1eb24',   'Albums photos': '008c060', 'photos': 'deb930e'} %}
{#{% for Administateurs in idsCrud  %}#}

{#        {% if item.index == 0 %}<h1>helloo</h1>#}

{#        {% endif %}#}

    {% if item.isMenuSection %}
        {% if item.icon is not empty %}<i class="menu-icon fa-fw {{ item.icon }}"></i>{% endif %}
        <span class="{{ item.cssClass }}">{{ item.label }}</span>
    {% else %}
    {% if item.index == 2 %}
        <a href="{{ item.linkUrl ~ '&crudId=46adcdd' }}" class="{{ item.cssClass }}" target="{{ item.linkTarget }}" rel="{{ item.linkRel }}" referrerpolicy="origin-when-cross-origin">
            {% if item.icon is not empty %}<i class="menu-icon fa-fw {{ item.icon }}"></i>{% endif %}
            <span>{{ item.label }}</span>
            {% if item.hasSubItems %}<i class="fa fa-fw fa-angle-right treeview-icon"></i>{% endif %}
        </a>

    {% elseif item.index == 1 %}
        <a href="{{ item.linkUrl ~ '&crudId=eca5f89' }}" class="{{ item.cssClass }}" target="{{ item.linkTarget }}" rel="{{ item.linkRel }}" referrerpolicy="origin-when-cross-origin">
            {% if item.icon is not empty %}<i class="menu-icon fa-fw {{ item.icon }}"></i>{% endif %}
            <span>{{ item.label }}</span>
            {% if item.hasSubItems %}<i class="fa fa-fw fa-angle-right treeview-icon"></i>{% endif %}
        </a>

        {% elseif item.index == 3 %}
        <a href="{{ item.linkUrl ~ '&crudId=eca5f89' }}" class="{{ item.cssClass }}" target="{{ item.linkTarget }}" rel="{{ item.linkRel }}" referrerpolicy="origin-when-cross-origin">
            {% if item.icon is not empty %}<i class="menu-icon fa-fw {{ item.icon }}"></i>{% endif %}
            <span>{{ item.label }}</span>
            {% if item.hasSubItems %}<i class="fa fa-fw fa-angle-right treeview-icon"></i>{% endif %}
            </a>

        {% elseif item.index == 4 %}
            <a href="{{ item.linkUrl ~ '&crudId=4d1eb24' }}" class="{{ item.cssClass }}" target="{{ item.linkTarget }}" rel="{{ item.linkRel }}" referrerpolicy="origin-when-cross-origin">
                {% if item.icon is not empty %}<i class="menu-icon fa-fw {{ item.icon }}"></i>{% endif %}
                <span>{{ item.label }}</span>
                {% if item.hasSubItems %}<i class="fa fa-fw fa-angle-right treeview-icon"></i>{% endif %}
            </a>

        {% elseif item.index == 5 %}
            <a href="{{ item.linkUrl ~ '&crudId=008c060' }}" class="{{ item.cssClass }}" target="{{ item.linkTarget }}" rel="{{ item.linkRel }}" referrerpolicy="origin-when-cross-origin">
                {% if item.icon is not empty %}<i class="menu-icon fa-fw {{ item.icon }}"></i>{% endif %}
                <span>{{ item.label }}</span>
                {% if item.hasSubItems %}<i class="fa fa-fw fa-angle-right treeview-icon"></i>{% endif %}
            </a>

        {% elseif item.index == 6 %}
            <a href="{{ item.linkUrl ~ '&crudId=deb930e' }}" class="{{ item.cssClass }}" target="{{ item.linkTarget }}" rel="{{ item.linkRel }}" referrerpolicy="origin-when-cross-origin">
                {% if item.icon is not empty %}<i class="menu-icon fa-fw {{ item.icon }}"></i>{% endif %}
                <span>{{ item.label }}</span>
                {% if item.hasSubItems %}<i class="fa fa-fw fa-angle-right treeview-icon"></i>{% endif %}
            </a>
    {% endif %}
    {% endif %}
{% endmacro %}

{% block main_menu_before %}{% endblock %}

<ul class="sidebar-menu" data-widget="tree" data-animation-speed="250">
    {% block main_menu %}
        {% for menuItem in ea.mainMenu.items %}
            {% block menu_item %}
                <li class="{{ menuItem.isMenuSection ? 'header' }} {{ menuItem.hasSubItems ? 'treeview' }} {{ ea.mainMenu.isSelected(menuItem) ? 'active' }} {{ ea.mainMenu.isExpanded(menuItem) ? 'active submenu-active' }}">
                    {{ _self.render_menu_item(menuItem) }}

                    {% if menuItem.hasSubItems %}
                        <ul class="treeview-menu">
                            {% for menuSubItem in menuItem.subItems %}
                                {% block menu_subitem %}
                                    <li class="{{ menuSubItem.isMenuSection ? 'header' }} {{ ea.mainMenu.isSelected(menuSubItem) ? 'active' }}">
                                        {{ _self.render_menu_item(menuSubItem) }}
                                    </li>
                                {% endblock menu_subitem %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endblock menu_item %}
        {% endfor %}
    {% endblock main_menu %}
</ul>

{% block main_menu_after %}{% endblock %}
