{% extends "base.html.twig" %}
{% block title %}Photos{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('build/photos.css') }}">
    <div class="title-photos container text-center">
        <h1>- Photos -</h1>
        <p>Quelques photos...</p>
    </div>
    <div class="cardPhoto-deck">
{#    {% for photo in photos %}#}
{#        <div class="photo_card ">#}
{#            <a href="{{ path("photo.show", {id: photo.id, slug: photo.slug}) }}"><img class="card-img-top w-100" src="{{ vich_uploader_asset(photo, 'imageFile') }}" alt="Card image cap"></a>#}
{#            <div class="card-body">#}
{#                <p class="card-title"><a href="{{ path("photo.show", {id: photo.id, slug: photo.slug}) }}">{{ photo.nom}}</a></p>#}
{#            </div>#}
{#            <div class="card-footer">#}
{#                <small class="text-muted">Posté le {{ photo.createdAt|date('d-m-Y') }}</small>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#        <div class="photo_card_deck card-deck m-5 ">#}
            {% for photo in photos %}
                <div class="photo_card ">
                    <ul class="grid cs-style-3">
                        <li class="mix color-1 check1 radio2 option3">
                            <figure>
                                <a href="{{ path("photo.show", {id: photo.id, slug: photo.slug}) }}"><img class="card-img-top w-100" src="{{ vich_uploader_asset(photo, 'imageFile') }}" alt="Card image cap"></a>
                                <figcaption>
                                    {#                            <p class="card-title"><a href="{{ path("aquarelle.show", {id: aquarelle.id, slug: aquarelle.slug}) }}">{{ aquarelle.nom}}</a></p>#}

                                </figcaption>
                                <div class="blur_bg">
                                    <a href="{{ path("photo.show", {id: photo.id, slug: photo.slug}) }}" class="view_link"><i class="fa fa-eye"></i></a>
                                    {#                            <a href="#" class="goto_link"><i class="fa fa-link"></i></a>#}
                                </div>
                            </figure>
                        </li>
                    </ul>
                    <div class="photo_card-body">
                        <h5 class="photo_card-title text-center"><a href="{{ path("photo.show", {id: photo.id, slug: photo.slug}) }}">{{ photo.nom}}</a></h5>
                        <div class="description text-center">
                            <p>{{ photo.description }}</p>
                        </div>
                    </div>
                    <div class="photo_card-footer text-center w-100">
                        <small class="text-muted">Posté le {{ photo.createdAt|date('d-m-Y') }}</small>
                    </div>
                </div>
            {% endfor %}
        </div>



{%  endblock %}