{% extends "base.html.twig" %}
{% block title %}Photos{% endblock %}
{% block body %}

    <div class="container text-center mt-5">
        <h1>Photos</h1>
        <p>Quelques photos...</p>
    </div>
    <div class="card-deck m-5">
    {% for photo in photos %}
        <div class="card">
            <a href="{{ path("photo.show", {id: photo.id, slug: photo.slug}) }}"><img class="card-img-top" src="{{ vich_uploader_asset(photo, 'imageFile') }}" alt="Card image cap"></a>
            <div class="card-body">
                <p class="card-title"><a href="{{ path("photo.show", {id: photo.id, slug: photo.slug}) }}">{{ photo.nom}}</a></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posté le {{ photo.createdAt|date('d-m-Y') }}</small>
            </div>
        </div>
    {% endfor %}
</div>


{%  endblock %}