{% extends "base.html.twig" %}
{% block title %}Photos{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('build/photos.css') }}">
    <div class="container text-center mb-3">
        <div class="title-photoShow row-12 m-5">
            <h1>- {{ photo.nom }} -</h1>
        </div>
        <div class="slider row-12">
            <div class="photo col-12">
                <img class="slider-img img-fluid photo w-100" src="{{ vich_uploader_asset(photo, 'imageFile') }}" alt ="photo">
                <p></p>
            </div>
        </div>

{#        <h1>{{ app.request.get('id') }}</h1>#}
        {% if photo.id  == photo.id  %}
            <h1>hellooo</h1>
{#                {% for photo in photos %}#}
                    <h1>{{ photo.id }}</h1>
{#                    {{ dump(photoById) }}#}
{#                    die()#}
{#                    <h1>Hiiii</h1>#}
{#                    <h1>{{ app.request.get('id') }}#}
{#                        {{ dump(photo.slug) }}#}
{#                        die()#}
{#                    </h1>#}
{#                <h1><strong>{{ photo.id }}</strong></h1>#}
{#                {% endfor %}#}
        {% endif %}


{#        {{ loop.index }} - {{ user.username }}#}
{#        <a href="{{ path("photo.show", {id: photo.id, slug: photo.slug}) }}"><button class="btn_prev" onclick="prev()">Prev</button>#}
        <button class="btn_prev" onclick="prev()">Prev</button>
        <button class="btn_next" onclick="next()">Next</button>
        <h1></h1>
    </div>

{#    <script>#}
{#        var slider_img = document.querySelector('.slider-img');#}
{#        var images =[{{ vich_uploader_asset(photo, 'imageFile') }}];#}
{#        var i = 0;#}

{#        function prev(){#}
{#            if(i <= 0) i = images.length;#}
{#            i--;#}
{#            return setImg();#}
{#        }#}

{#        function next(){#}
{#            if(i >= images.length-1 ) i =-1;#}
{#            i++;#}
{#            return setImg();#}
{#        }#}

{#        function setImg(){#}
{#            return slider_img.setAttribute({{ vich_uploader_asset(photo, 'imageFile') }} + images[i]);#}
{#        }#}
{#    </script>#}

{%  endblock %}