{% extends "base.html.twig" %}
{% block title %}Actualités{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('build/actualites_show.css') }}">

    <div class="body" data-made-with-foundation="">
            <div class="float-center" style="background-color: #2177d0">
                    <div id="header" class="wrapper header float-center align-content-center" style="background-image:url('http://www.eos-numerique.com/maphoto/1103/191226741.jpg');">
                        <div class="wrapper-inner">
                                <table align="center" class="container">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <table class="row collapse" style="margin:0px 0px 20px 0px;">
                                                <tbody>
                                                <tr>
                                                    <th class="small-12 large-12 columns first">
                                                        <table>
                                                            <tr>
                                                                <th>
                                                                    <center style="margin:20px 0 20px 0;">
                                                                        {% if actualite.categorie == 'exposition' %}
                                                                        <img src="/uploads/images/categories/expologo.png" alt="expo_logo" class="float-center">
                                                                        {% elseif actualite.categorie == 'divers' %}
                                                                            <img src="/uploads/images/categories/diverslogo.png" alt="divers_logo" class="float-center">
                                                                        {% elseif actualite.categorie == 'aquarelle' %}
                                                                            <p>hello world aquarelle</p>
                                                                        {% else %}
                                                                            <img src="/uploads/images/categories/photologo.png" alt="photo_logo" class="float-center">
                                                                        {% endif %}
                                                                    </center>

                                                                    <!-- HEADER TITLE -->
{#                                                                    <h5 class="text-center">{{ actualite.titre }}</h5>#}

                                                                </th>
                                                            </tr>
                                                        </table>
                                                    </th>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                    <div class="decor" style="height: 80px">
                            <img src="https://img.webnode.com/newsletter/decor-top-white-less-20opac.png"
                                 alt="decor"
                                 class="float-center">
                    </div>
                    <div id="stories text-align-center" class="wrapper header float-center">
                        <tr>
                            <td class="wrapper-inner">
                                <br>
                                <table class="container">
                                    <tbody>
                                    <tr class="text-align-middle">
                                        <td>

                                            <!-- NEWS ARTICLE STARTING // With picture -->
                                            <article>
                                                <div class ="imageActu">
                                                    <center>
                                                        {% if actualite.categorie == 'exposition' %}
                                                            <img src="/uploads/images/categories/expo.jpeg" alt="expo">
                                                        {% elseif actualite.categorie == 'divers' %}
                                                            <img src="/uploads/images/categories/divers.jpeg" alt="divers">
                                                        {% elseif actualite.categorie == 'aquarelle' %}
                                                            <p>hello world aquarelle</p>
                                                        {% else %}
                                                            <img src="/uploads/images/categories/pellicule.jpg" alt="pellicule">
                                                        {% endif %}
                                                    </center>
                                                </div>
                                                <hr>
                                                <br>
                                                <!-- NEWS TITLE -->

                                                <h1 class="text-center m-3">{{ actualite.titre }}</h1>
                                                <div class="actualites">
                                                    <div class="container">
                                                        <div class="row mb-5">

                                                            <img src="{{ vich_uploader_asset(actualite, 'imageFile') }}" class="float-left" alt="image_actualite">
                                                            <p>{{ actualite.description | markdown }}</p>

                                                        </div>
                                                    </div>
                                                    <div class="badgeActu mb-5">
                                                    <p><span class="badge badge-pill badge-primary">{{ actualite.createdAt|date('d-m-Y') }}</span>
{#                                                        <a href="{{ path("categorie.show", {id: categorie.id, slug: categorie.slug}) }}"><span class="badge badge-pill badge-primary">{{ actualite.categorie }}</span></a>#}
                                                    </div>
                                                </div>
                                                <hr>
                                                <!-- BUTTON STARTING -->
                                                <table class="row collapse">
                                                    <tbody>
                                                    <tr>
                                                        <th class="small-12 large-12 columns first">
                                                            <center>
                                                                <!-- NEWS BUTTON LINK -->
                                                                <a href="#">
                                                                    <table class="button-filled float-center">
                                                                        <tr>
                                                                            <td>
                                                                                <table>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <!-- NEWS BUTTON TEXT -->
                                                                                            <p class="text-center">Lire plus</p>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </a>
                                                            </center>
                                                        </th>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <!-- BUTTON ENDING -->

                                                <br><br>
                                            </article>
                                            <!-- NEWS ARTICLE ENDING // With picture -->

                                            <!-- NEWS ARTICLE STARTING // Without picture -->
                                            <article>
                                                <br>
                                                <!-- NEWS TITLE -->
                                                <h1 class="text-center">Plus d'actualités dans la catégorie</h1>
                                                <br>
                                                <!-- NEWS CONTENT -->
                                                <p class="text-center text-news">
                                                    {% for actualite in categorie.actualites %}
                                                        <a href="{{ path("actualite.show", {id: actualite.id, slug: actualite.slug}) }}">{{ actualite.titre }}</a><br>
                                                    {% endfor %}
                                                </p>
                                                <!-- NEWS BUTTON -->

                                                <hr>

                                                <br><br>
                                            </article>
                                            <!-- NEWS ARTICLE ENDING // Without picture -->

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </div>


                    <div id="templates"  class="wrapper header float-center d-flex justify-content-center" style="background:#f5f5f5">
                        <tr>
                            <td class="wrapper-inner">
                                <table align="center" class="container" style="background:#f5f5f5;">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <br>
                                            <h1 class="text-center">Dernières actualités</h1>

                                            <table class="row collapse">
                                                <tbody>
                                                <tr>
                                                    <th class="small-12 large-12 columns first">
                                                        <table class="row text-centered">
                                                            <tr>

                                                                {% for actualite in actualites %}
                                                                <th class="small-4 large-4 first columns">

                                                                    <a href="{{ path("actualite.show", {id: actualite.id, slug: actualite.slug}) }}">

                                                                        <div class="actufooter">
                                                                            <img src="{{ vich_uploader_asset(actualite, 'imageFile') }}" alt="News image" style="background: url('https://images.unsplash.com/photo-1553787762-b5f5721f3270?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80') center center no-repeat;">
{#                                                                        <img src="http://placehold.it/180x100.jpg" alt="Template name">#}

                                                                        </div>
                                                                    </a>
                                                                </th>
                                                                {% endfor %}
                                                            </tr>
                                                        </table>
                                                    </th>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </div>
            </div>
    </div>
    <div>
    <table id="footer" align="center" class="wrapper header-blue float-center">
        <tr>
            <td class="wrapper-inner" style="height: 100px">
                <table align="center" class="container-blue">
                    <tbody>
                    <tr>
                        <td>
                            <img src="https://img.webnode.com/newsletter/decor-top-white-less.png" alt="decor" class="float-center">


                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    </div>
{% endblock %}